<div *ngIf="post$ | async as post">
  <app-post-header></app-post-header>
  <div class=" mx-auto p-6 max-w-3xl bg-white rounded-lg m-8">
    <!-- Header Section -->
      <div class="flex items-center gap-1">
        <app-button
          variant="ghost"
          (buttonClick)="onBack()"
          class="hover:bg-gray-100 m-2  transition-colors duration-200"
        >
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </app-button>
        <h1 class="text-xl font-bold text-gray-900">Post Details</h1>
      </div>
    <app-card className="m-6">
      <div class="p-6">
        <div class="flex justify-between items-start mb-8">
          <h2 class="text-2xl font-bold text-gray-900">{{ post.title }}</h2>
          <div class="flex gap-4">
            <div class="text-tertiary flex items-center font-bold bg-gray-100 px-2 py-1 rounded-2xl">
              <span class="text-sm text-gray-500">ID:</span>
              <div class="font-medium">{{ post.id }}</div>
            </div>
            <div class="text-tertiary flex items-center font-bold bg-gray-100 px-2 py-1 rounded-2xl">
              <span class="text-sm text-gray-500">User:</span>
              <div class="font-medium">{{ post.userId }}</div>
            </div>
          </div>
        </div>
        <p class="text-gray-700">{{ post.body }}</p>
      </div>
    </app-card>

    <app-card className="m-6">
      <div >
        <h3 class="text-xl font-bold mb-6">Post Information</h3>
        <div class="grid grid-cols-2 gap-8">
          <div>
            <div class="mb-4">
              <h4 class="text-gray-500 mb-1">Post ID</h4>
              <p class="font-medium text-lg">{{ post.id }}</p>
            </div>
            <div>
              <h4 class="text-gray-500 mb-1">Title Length</h4>
              <p class="font-medium text-lg">{{ post.title.length }} characters</p>
            </div>
          </div>
          <div>
            <div class="mb-4">
              <h4 class="text-gray-500 mb-1">User ID</h4>
              <p class="font-medium text-lg">{{ post.userId }}</p>
            </div>
            <div>
              <h4 class="text-gray-500 mb-1">Body Length</h4>
              <p class="font-medium text-lg">{{ post.body.length }} characters</p>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
