@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico para eliminar márgenes y padding por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

